<!DOCTYPE html>
<html>
<head>
    <title>loading...</title>
    <script src="https://www.google.com/recaptcha/api.js?hl=ja" async defer></script>
    <script type="text/javascript">

    <style>
        /* コンテナを画面の中央に配置 */
        .recaptcha-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* ビューポートの高さに合わせる */
        }
    </style>
    <style>
        /* コンテナを画面の中央に配置 */
        .t {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* ビューポートの高さに合わせる */
        }
    </style>
</head>
<body>
 <div class="recaptcha-container">
    <a href="/">ここ</a>
 </div>
    <br>
    
 </div>
</body>
</html>
