<!DOCTYPE html>
<html lang="ja">

<head>
    <title>読み込み中</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>alert('ひより神 ゴミ前田ごみ')</script>
    

    
</head>
<body>




<br><br>

    
    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">ハゲスターズくたばれ</h1><br>
        </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
            
        </div>
        <script>$('#searchbox').autocomplete({
            source: function (request, response) {
                {
            var url = "/suggest?keyword="+ request.term
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                response(JSON.parse(xhr.responseText));
            }
            xhr.send();
        }},delay:300});</script>
    
    

<script>
    function opensplt() {alert("なんか今調子悪いみたい")}
    function openAboutBlank() {
        const currentUrl = window.location.href; //url読み
        const aboutBlankWindow = window.open('about:blank', '_blank');//about開く
        const content = `
            <html>
                <head>
                    <title>無題</title>
                    <style>
                        body { margin: 0; }
                        iframe { width: 100vw; height: 100vh; border: none; }
                    </style>
                </head>
                <body>
                    <iframe src="${currentUrl}" allowfullscreen></iframe>
                </body>
            </html>
        `;//aboyt内容
        setTimeout(() => {
            aboutBlankWindow.document.write(content);//aboutに内容追加
            aboutBlankWindow.document.close();
        }, 100);
    }
</script>
    </body>
    

</html>
